:root {
    --white: #fff;
    --grey: #899d9d;
    --background: #1d2f30;
    --background-shade: #0b1919;
    --green-text: #506829;
    --primary-green: #bae249;
    --green-activeclick: #688b05;
    --green-focus: #83a440;
    --green-hover: #91ac46;
    --red: #e24949;

    --transition: 0.3s 50ms;
}

@font-face {
    font-family: 'Cormorant';
    src: url('images/Cormorant-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant';
    src: url('images/Cormorant-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant';
    src: url('images/Cormorant-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

svg *[fill] { fill: currentColor }
svg *[stroke] { stroke: currentColor }

h1, h2, h3, h4, h5, h6 {
    font-family: “Cormorant”, sans-serif;
    font-weight: 700;
}

button {
    font-family: “Open Sans”, sans-serif;
    font-weight: 700;
}

p, a {
    font-family: “Open Sans”, sans-serif;
    font-weight: 400;
}

button {
    background: none;
    border: none;
    padding: 0;
}

.page__header {
    background-color: var(--background);
    height: 60px;
}

.container {
    max-width: 1440px;
    padding-inline: 165px;
    margin-inline: auto;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    width: 65px;
    height: 20px;
    color: var(--white);
}

.header__navigation-list {
    display: flex;
    flex-direction: row;
    gap: 64px;
    margin-left: -125px;
}

.header__navigation-link {
    padding: 3px;
    color: var(--white);
    transition: var(--transition);
}

.header__button {
    width: 24px;
    height: 24px;
    color: #BAE249;
    transition: var(--transition);
}

.header__buttons {
    display: flex;
    gap: 64px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header__navigation-list-2 {
    display: none;
    justify-content: center;
    flex-direction: row;
    gap: 64px;
    row-gap: 15px;
    flex-flow: wrap;
    white-space: nowrap;
    margin-top: 15px;
}

.first-section {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.first-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: -60px;
    background: url("images/flowers.png") center/cover no-repeat;
    filter: brightness(0.5);
    z-index: -1;
}

.first-section__container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
}

.main__headline {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 16px;
    color: var(--white);
}

.first-section__paragraph {
    font-size: 16px;
    line-height: 150%;
    color: var(--white);
    margin-bottom: 24px;
}

.first-section__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 174px;
    height: 27px;
    stroke-width: 2px;
    font-size: 16px;
    color: var(--primary-green);
    margin-left: -10px;
    padding: 10px;
    transition: var(--transition);
}

.header__navigation-link:hover {
    color: var(--primary-green);
}

.header__navigation-link:active {
    color: var(--green-activeclick);
}

.header__navigation-link:focus-visible {
    outline: 1px solid var(--green-focus);
}

.header__button:hover {
    color: #91AC46;
}

.header__button:focus-visible {
    outline: 1px solid var(--green-focus);
}

.header__button:active {
    color: #688B05;
}

.first-section__button:hover {
    color: var(--green-hover);
}

.first-section__button:focus-visible {
    outline: 1px solid var(--green-focus);
}

.first-section__button:active {
    color: var(--green-activeclick);
}

@media (max-width: 1200px) {
    .container {
        padding-inline: 70px;
    }
}

@media (max-width: 1080px) {
    .header__navigation-list {
        margin-left: 0;
    }
}

@media (max-width: 930px) {
    .header__navigation-list {
        display: none;
    }

    .header__navigation-list-2 {
        display: flex;
        gap: 32px;
        row-gap: 15px;
    }

    .container {
        padding-inline: 32px;
    }

    .main__headline {
        font-size: 50px;
    }

    .first-section__paragraph {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .header__navigation-list-2 {
        margin-inline: auto;
    }

    .header__buttons {
        gap: 32px;
    }

    .first-section {
        height: 404px
    }

    .first-section::before {
        background: url("images/flowers-mobile.png") center/cover no-repeat;
    }

    .main__headline {
        font-size: 48px;
    }

    .first-section__paragraph {
        display: none;
    }
}