:root {
  --white:#fff;
  --grey:#899d9d;
  --background:#1d2f30;
  --background-shade:#0b1919;
  --green-text:#506829;
  --primary-green:#bae249;
  --green-activeclick:#688b05;
  --green-focus:#83a440;
  --green-hover:#91ac46;
  --red:#e24949;
  --light-red:red;
  --main-family: "Open Sans", sans-serif;
  --second-family: "Cormorant", serif;
  --transition: 0.2s linear;
}

@font-face {
  font-family: "Cormorant";
  src: url("fonts/Cormorant-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cormorant";
  src: url("fonts/Cormorant-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Cormorant";
  src: url("fonts/Cormorant-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
svg *[fill] {
  fill: currentColor;
}
svg *[stroke] {
  stroke: currentColor;
}

*, ::before, ::after {
  box-sizing: border-box;
  font: inherit;
}

html {
  overflow-x: clip;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  min-height: 100dvh;
  color: var(--white, #FFF);
  font-family: var(--main-family);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: var(--background);
}

:where(h1, h2, h3, h4, h5, h6) {
  font-family: var(--second-family);
  font-weight: 700;
}

:where(h1, h2) {
  line-height: 1;
}

h1 {
  font-size: 3.75rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

button {
  background: none;
  border: none;
  padding: 0;
  font-weight: 700;
}

svg, button, a {
  transition: var(--transition);
}

.container {
  max-width: calc(69.375rem + clamp(0.9375rem, 2.4146341463rem - 2.0731707317vw, 2rem) * 2);
  padding-inline: clamp(0.9375rem, 2.4146341463rem - 2.0731707317vw, 2rem);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-block: 3.75rem;
}
.section-hero {
  min-height: 34.375rem;
  align-content: center;
  padding-block-start: 7.5rem;
}
.section--background {
  position: relative;
  isolation: isolate;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.section--background::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: 0.7;
  background-color: var(--background, #1D2F30);
}

.page__header {
  position: relative;
  height: 3.75rem;
  margin-block-end: -3.75rem;
  z-index: 1;
  background-color: var(--background);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  width: 4.0625rem;
  height: 1.25rem;
  color: var(--white);
}

.header__navigation-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-left: -7.125rem;
}

.header__navigation-link, .burger-menu-link {
  padding: 0.1875rem;
  color: var(--white);
}

.header__button {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--primary-green);
}

.header__buttons {
  display: flex;
  gap: 4rem;
}

.burger-menu {
  flex-direction: column;
  cursor: pointer;
  z-index: 100;
}

.burger-menu__button {
  color: white;
  width: 1.5rem;
  height: 1.5rem;
}

.burger-menu__svg {
  display: none;
  width: 100%;
  height: 100%;
}
.burger-menu__svg.active {
  display: block;
}

.burger-menu__list {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 110%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  flex-direction: column;
  width: 8.125rem;
  height: 7.25rem;
}
.burger-menu__list.active {
  display: flex;
}

.burger-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.first-section__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}

.first-section__headline {
  font-size: 3.75rem;
  margin-bottom: 1rem;
  color: var(--white);
}

.first-section__paragraph {
  font-size: 1rem;
  color: var(--white);
  margin-bottom: 1.5rem;
}

.first-section__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  stroke-width: 0.125rem;
  font-size: 1rem;
  color: var(--primary-green);
}

.second-section__container {
  display: flex;
  justify-content: center;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.625rem;
  overflow: hidden;
  min-width: 68.78rem;
}

.slider-slides-container {
  display: flex;
  justify-content: flex-start;
  max-width: calc(100% + 5.625rem);
}

.slider-slides, .slider2-slides, .slider3-slides, .slider4-slides {
  display: flex;
  gap: 6.25rem;
  padding-inline: 3.125rem;
  transition-duration: 0.9s;
}

.slider-slide {
  display: flex;
  flex-direction: column;
}

.slider-cards {
  display: flex;
  justify-content: space-between;
  max-width: 68.75rem;
  gap: 1.875rem;
}

.slider-card {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  width: 15.9375rem;
  height: 30.8125rem;
}

.slider-card__image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 11.25rem;
  background: var(--background-shade);
}

.slider-card__image-index, .group-index {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--grey);
  border: var(--grey) solid 0.0625rem;
  border-radius: 100%;
}
.slider-card__image-index .index, .group-index .index {
  font-family: "Cormorant", sans-serif;
  font-weight: 700;
}

.slider-card__image-index {
  top: 1rem;
  left: 1rem;
}

.slider-card__content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: solid 0.0625rem var(--background-shade);
  height: 19.5625rem;
  padding: 1rem;
  color: var(--grey);
}

.slider-card__headline {
  color: var(--white);
}

.slider-card__link {
  position: absolute;
  bottom: 0;
  font-weight: 400;
  font-size: 1rem;
  width: 9.0625rem;
  height: 2.8125rem;
  padding: 0.65625rem 1.78125rem;
  margin-bottom: 1.5rem;
  border: solid 0.0625rem var(--primary-green);
  color: var(--primary-green);
}

.slider-action-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
}

.slider__next-button, .slider__previous-button {
  color: #899D9D;
  cursor: pointer;
}

.current-slide {
  position: relative;
  color: var(--white);
}

.current-slide-mobile {
  display: flex;
  gap: 1.25rem;
}

.current-slide-mobile__item {
  width: 0.625rem;
  aspect-ratio: 1;
  background-color: var(--background-shade);
  border-radius: 50%;
  transition: var(--transition);
}
.current-slide-mobile__item.active {
  background-color: var(--primary-green);
}

.third-section__container {
  display: grid;
  grid-template-columns: 1fr 23%;
  grid-template-rows: auto auto;
  gap: 1.875rem;
  margin-top: -3.75rem;
}

.third-section__headline {
  font-style: italic;
  color: var(--white);
  grid-column: 1/-1;
}

.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  grid-column: 1;
  padding: 1rem;
  overflow-x: auto;
  background-color: var(--background-shade);
}
.images__mobile {
  color: var(--grey);
}
.images__list {
  display: flex;
  flex-wrap: wrap;
  min-width: 49.5625rem;
  max-width: 49.5625rem;
  gap: 1.125rem 3rem;
}

.third-section__image {
  position: relative;
}

.third-section-information {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column: 2;
  gap: 0.5rem;
  width: 15.9375rem;
  height: 100%;
  padding: 1rem;
  background-color: var(--primary-green);
}

.information__headline {
  font-size: 1.5rem;
  color: var(--background);
}

.information__paragraph {
  font-size: 1rem;
  color: var(--green-text);
}

.information__button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  margin-top: auto;
  color: var(--background-shade);
}

.fourth-section__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fourth-section__headline {
  font-style: italic;
  font-size: 3rem;
  color: var(--white);
  margin-bottom: -0.5rem;
}

.fourth-section__information {
  color: var(--white);
  max-width: 51.5625rem;
  font-size: 1rem;
}

.fourth-section__support-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 0.5rem;
}

.support-form__input-group {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  z-index: 100;
}

.label {
  position: absolute;
}

.input-wrapper {
  position: relative;
}

.support-form__input {
  width: 21.875rem;
  height: 2.8125rem;
  padding-inline: 1rem;
  border: none;
  transition: var(--transition);
}

.user-email:has(~ .error), .user-name:has(~ .error) {
  border: solid 0.125rem var(--red);
}

.support-form__input::placeholder {
  font-size: 1rem;
  color: var(--grey);
}

.support-form__button {
  display: inline-flex;
  width: 9.0625rem;
  height: 2.8125rem;
  background-color: var(--primary-green);
  align-items: center;
  justify-content: center;
}

.valid-error {
  display: none;
  position: absolute;
  color: var(--light-red);
  font: 0.75rem var(--main-family);
  left: 1rem;
  bottom: 3rem;
}
.valid-error.error {
  display: inline;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social-media {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1.875rem;
  background-color: var(--background-shade);
  padding-block: 1.125rem;
  height: 3.75rem;
}
.footer__social-media > * {
  color: var(--grey);
}

.footer__page-info {
  font: 0.75rem var(--main-family);
  padding-block: 0.1875rem;
  color: var(--grey);
}

.current-slide-mobile, .burger-menu, .slider2-slides, .slider3-slides, .slider4-slides, .images__mobile {
  display: none;
  position: relative;
}

@media (max-width: 75rem) {
  .slider {
    min-width: 51.875rem;
    max-width: 51.875rem;
  }
  .slider-slides {
    display: none;
  }
  .slider2-slides {
    display: flex;
    position: relative;
  }
  .third-section__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
  .third-section__images, .third-section-information {
    width: 100%;
    grid-column: auto;
  }
  .images__list {
    justify-content: space-between;
  }
}
@media (max-width: 67.5rem) {
  .header__navigation-list {
    margin-left: 0;
  }
}
@media (max-width: 58.125rem) {
  .main__headline {
    font-size: 3.125rem;
  }
  .first-section__paragraph {
    font-size: 0.875rem;
  }
  .header__buttons {
    gap: 2rem;
  }
  .slider {
    min-width: 34.0625rem;
    max-width: 34.0625rem;
  }
  .slider2-slides {
    display: none;
    position: absolute;
  }
  .slider3-slides {
    display: flex;
    position: relative;
  }
  .images {
    justify-content: flex-start;
  }
}
@media (max-width: 43.75rem) {
  .header__navigation {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
  .images__mobile {
    display: inline;
    position: relative;
  }
}
@media (max-width: 37.5rem) {
  .current-slide, .slider__previous-button, .slider__next-button, .slider3-slides, .fourth-section, .footer__container {
    display: none;
    position: absolute;
  }
  .first-section {
    height: 25.25rem;
  }
  .first-section::before {
    background: url("images/flowers-mobile.png") center/cover no-repeat;
  }
  .main__headline {
    font-size: 3rem;
  }
  .first-section__paragraph {
    display: none;
  }
  .slider {
    min-width: 16.25rem;
    max-width: 16.25rem;
  }
  .slider4-slides {
    display: flex;
    position: relative;
  }
  .current-slide-mobile {
    display: flex;
    position: relative;
  }
}
@media (hover: hover) {
  .header__navigation-link:hover, .burger-menu-link:hover, .footer__social-media > *:hover {
    color: var(--primary-green);
  }
  .header__button:hover, .first-section__button:hover, .burger-menu__button:hover {
    color: var(--green-hover);
  }
  .slider-card__button:hover {
    background-color: var(--primary-green);
    color: var(--background-shade);
    border: 0;
  }
  .next-button__svg:hover,
  .previous-button__svg:hover {
    color: var(--primary-green);
    transform: scaleX(1.4);
  }
  .next-button__svg:hover {
    transform-origin: left;
  }
  .previous-button__svg:hover {
    transform-origin: right;
  }
  .support-form__input:hover {
    background-color: var(--grey);
  }
  .support-form__input:hover::placeholder {
    color: var(--white);
  }
  .support-form__button:hover {
    background-color: var(--green-hover);
  }
}
.header__navigation-link:active, .burger-menu-link:active {
  color: var(--green-activeclick);
}

.header__navigation-link:focus-visible, .information__button:focus-visible {
  outline: 0.0625rem solid var(--green-focus);
}

.header__button:active {
  color: var(--green-activeclick);
}
.header__button:focus-visible {
  outline: 0.0625rem solid var(--green-focus);
}

.first-section__button:active, .footer__social-media > *:active {
  color: var(--green-activeclick);
}
.first-section__button:focus-visible, .footer__social-media > *:focus-visible {
  outline: 0.0625rem solid var(--green-focus);
  outline-offset: 0.125rem;
}

.burger-menu__button:active, .information__button:active {
  color: var(--green-activeclick);
}

.slider-card__button:active {
  background-color: var(--green-activeclick);
  color: var(--background-shade);
}
.slider-card__button:focus-visible {
  outline: solid 0.0625rem var(--green-focus);
  outline-offset: 0.125rem;
}

.next-button__svg:active, .previous-button__svg:active {
  color: var(--green-activeclick);
}

.support-form__input:active {
  background-color: var(--grey);
}
.support-form__input:focus-visible {
  outline: solid 0.0625rem var(--green-focus);
  outline-offset: 0.125rem;
}
.support-form__input.error:focus-visible {
  outline: none;
}

.support-form__button:active {
  background-color: var(--green-activeclick);
}
.support-form__button:focus-visible {
  outline: solid 0.0625rem var(--green-focus);
  outline-offset: 0.125rem;
}

.image1__index {
  left: 0;
  top: 7.875rem;
  position: absolute;
}

.image2__index {
  left: 9.9375rem;
  top: 0;
  position: absolute;
}

.image3__index {
  left: 8.125rem;
  top: 2.125rem;
  position: absolute;
}

.image4__index {
  left: 8.75rem;
  top: 11.6875rem;
  position: absolute;
}

.image5__index {
  left: 7.0625rem;
  top: 16.8125rem;
  position: absolute;
}

.image6__index {
  left: 8.8125rem;
  top: 0;
  position: absolute;
}

.image7__index {
  left: 3.375rem;
  top: 16.8125rem;
  position: absolute;
}

/*# sourceMappingURL=styles.css.map */
